{
  "command": "env-example",
  "providers": [
    {
      "ecosystem": "go",
      "package": "github.com/jgruberf5/roksbnkctl",
      "version": "v1.60.0",
      "repository": null,
      "source": "https://proxy.golang.org/cached-only/github.com/jgruberf5/roksbnkctl/@v/v1.60.0.zip",
      "confidence": "direct",
      "source_type": "language_package",
      "language": "go",
      "registry": "go",
      "latest_version": "v1.60.0"
    },
    {
      "ecosystem": "pypi",
      "package": "env-example",
      "version": "1.0.0",
      "repository": null,
      "source": "https://files.pythonhosted.org/packages/aa/31/e4ed4f96561354b7ba58e56e3e21513711fbccf84a74007194a92f0ecec5/env_example-1.0.0-py3-none-any.whl",
      "confidence": "direct",
      "source_type": "language_package",
      "language": "python",
      "registry": "pypi",
      "latest_version": "1.0.0"
    }
  ],
  "first_seen": "2026-08-25",
  "last_seen": "2026-10-09"
}
