{
  "command": "env-mcp-test-sample",
  "providers": [
    {
      "ecosystem": "pypi",
      "package": "env-mcp-test-sample",
      "version": "0.1.0",
      "repository": null,
      "source": "https://files.pythonhosted.org/packages/a4/d6/6eccf5b18cc11a376ec971053c28f670c2dd83a101385607b575d5de9c7a/env_mcp_test_sample-0.1.0-py3-none-any.whl",
      "confidence": "direct",
      "source_type": "language_package",
      "language": "python",
      "registry": "pypi",
      "latest_version": "0.1.0"
    }
  ],
  "first_seen": "2026-08-25",
  "last_seen": "2026-08-25"
}
